* {
    font-family: verdana, arial;
}

body {
background-color: #014A53;
display: flex;
flex-direction: column;
}

header {
    top: 0;
    left: 0;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
}

.header {
    background-color: black;
    
}

.header li {
    top: 0;
    left: 0;
    display: inline;
    margin: 20px;
}

.header a {
    text-decoration: none;
    color: #BBC4C9;
}

.object {
    background-color: #BBC4C9;
    margin: 10px;
    border-radius: 15px;
}

#home {
    
}

#contact {
    
}